pre {
  margin: 2rem 0;
}

pre>code {
  border-radius: 8px;
  display: block;
  overflow-y: auto;
  padding: 1rem;

  color: #fffcec;
  background: #333;
}

code {
  color: #c05;
  color: mediumvioletred;
}

code[class*="language-"] {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  line-height: 1.5;
}

.z-comment {
  color: #bbb;

  .z-punctuation {
    color: #999;
  }
}

.z-path,
.z-name {
  color: pink;
}

.z-group {
  color: lightblue;

  .z-punctuation {
    color: pink;
  }
}

.z-type,
.z-function,
.z-command {
  color: pink;
}

.z-keyword,
.z-variable,
.z-key {
  color: lightblue;
}

.z-datetime,
.z-string {
  color: lightyellow;
}

.z-punctuation {
  color: lightyellow;
}

.z-operator {
  color: lightyellow;
}

.z-key.z-name.z-http {
  color: #333;
  background: pink;
  display: inline-block;
  padding: 0 0.8rem;
  margin: 0.1rem 0;
  border-radius: 4px;
}

.z-meta.z-nu {
  color: lightyellow;
}