{% import "macros.html" as macros %}
{% set settings = load_data(path="content/settings.toml") %}
<!DOCTYPE html>
<html lang="en-gb" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ settings.title }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="{% block description %}{{ settings.description }}{% endblock description %}">
  {% block page_meta %}{% endblock page_meta %}

  <link rel="sitemap" type="application/xml" href="/sitemap.xml">
  <link rel="stylesheet" media="all" href="/styles.css">
  <link rel="icon" href="/favicon.ico">
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="Seachess feed (RSS)" href="/rss.xml">
  {% endblock %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
</head>

<body>
  <a href="#content" class="skip-link">Skip to main content</a>
  <header>
    <div>
      <div class="brand">
        <a href="/"><img class="logo" src="/logo.svg" alt="" width="34">{{ settings.title }}</a>
      </div>
      <!-- <div class="search-trigger"> -->
      <!--   <button>Search -->
      <!--     <svg -->
      <!--       xmlns="http://www.w3.org/2000/svg" -->
      <!--       viewBox="0 0 46.553307 46.200966" -->
      <!--       width="16" -->
      <!--       version="1.1"> -->
      <!--       <desc></desc> -->
      <!--       <g transform="translate(-29.461,-26.738)"><path d="m69.902 72.704-10.935-10.935c-2.997 1.961-6.579 3.111-10.444 3.111-10.539 0-19.062-8.542-19.062-19.081 0-10.519 8.522-19.061 19.062-19.061 10.521 0 19.06 8.542 19.06 19.061 0 3.679-1.036 7.107-2.828 10.011l11.013 11.011c0.583 0.567 0.094 1.981-1.076 3.148l-1.64 1.644c-1.17 1.167-2.584 1.656-3.15 1.091zm-8.653-26.905c0-7.033-5.695-12.727-12.727-12.727-7.033 0-12.745 5.694-12.745 12.727s5.712 12.745 12.745 12.745c7.032 0 12.727-5.711 12.727-12.745z" /></g> -->
      <!--     </svg> -->
      <!--   </button> -->
      <!-- </div> -->
    </div>
    <!-- <div class="search-container"> -->
    <!--   <input id="search" type="search" placeholder="🔎 Search"> -->
    <!--   <div class="search-results"> -->
    <!--     <div class="search-results__items"></div> -->
    <!--   </div> -->
    <!-- </div> -->
    <nav>
      <ul>
        {% for item in settings.navigation %}
        {{ macros::nav_item(path="/" ~ item, label=item) }}
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    <div class="wrapper" id="content">
      {% block content %} {% endblock %}
    </div>
  </main>
  <footer>
    <div class="wrapper">
      <nav>
        <ul>
          {% for item in settings.navigation %}
          {{ macros::nav_item(path="/" ~ item, label=item | capitalize) }}
          {% endfor %}
        </ul>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/rss.xml" type="application/rss+xml" rel="alternate">Seachess feed (RSS)</a></li>
          <li><a href="https://github.com/arnau/aquarium/">Aquarium codebase</a></li>
          <li><a href="https://github.com/arnau/seachess/">Seachess codebase</a></li>
        </ul>
      </nav>

      <p>All content is available under the <a href="{{ settings.licence.url }}">{{ settings.licence.name }}</a>, except
        where otherwise stated.</p>
      <p>{{ settings.copyright }}</p>
    </div>
  </footer>
</body>

</html>