{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}{{ section.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ section.description }}{% endblock description %}

{% block content %}

<h1>{{ section.description }}</h1>

{{ macros::subscription_form() }}


{% for page in section.pages %}
<section class="excerpt">
  <h2><a href="{{ page.path }}">{{ page.title }}</a></h2>

  {{ macros::published_on(stamp=page.date) }}

  {{ page.content | safe }}
</section>

{% endfor %}


{% endblock content %}
