{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ section.description }}{% endblock description %}


{% block content %}
<h1>{{ section.title }}</h1>

{{ macros::subscription_form() }}


{% set sub_paths = section.subsections | sort | reverse %}
{% set current_sub_path = sub_paths | first %}
{% set current_bulletin = get_section(path=sub_paths | first) %}

<section>
  <header>
    <h2>Issues from {{ current_bulletin.title }}</h2>
    <p>Use the <a href="#archive">archive</a> for older issues.</p>
  </header>

  {% for page in current_bulletin.pages | sort(attribute="date") | reverse %}
  <section class="excerpt">
    <h3><a href="{{ page.path }}">{{ page.title }}</a></h3>

    {{ macros::published_on(stamp=page.date) }}

    {{ page.content | safe }}
  </section>

  {% endfor %}
</section>

<section class="archive">
  <h2 id="archive">Archive</h2>
  <ul>
  {% for s in sub_paths %}
    {% set sub = get_section(path=s) %}
    {% if s != current_sub_path %}
    <li><a href="{{ sub.path }}">{{ sub.pages | length }} issues from {{ sub.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</section>
{% endblock content %}
