{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ super() }}{% endblock title %}
{% block description %}{{ section.description }}{% endblock description %}


{% block content %}
<h1>
  {{ section.title }}
</h1>


<ul class="gallery">
  {% for page in section.pages %}
    {% set asset_path = page.assets[0]  %}
    {% set asset = resize_image(path=asset_path, width=295, height=190, op="fill") %}
    <li>
    <a href="{{ page.path }}">
    <img
      decoding="async"
      src="/processed_images/{{ asset.static_path | split(pat="/") | last }}"
      width="{{ asset.width }}"
      height="{{ asset.height }}"
      alt="{{ page.title }}">
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock content %}
