hr {
  border: 0;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 40px;
}

.brand-text {
  margin-left: 16px;
}

@media (max-width: 500px) {
  .brand-text {
    display: none;
  }
}

table {
  border-collapse: collapse;
  min-width: 50%;
}

th, td {
  padding: 4px 8px;
}

th {
  border-bottom: 2px solid black;
}

td:first-child {
  border-right: 2px solid black;
}
